/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */

code .comment {
    color: #998;
}

code .support {
    color: #0086B3;
}

code .tag, code .tag-name {
    color: navy;
}

code .keyword, code .css-property, code .vendor-prefix, code .sass, code .class, code .id, code .css-value, code .entity.function, code .storage.function {
    font-weight: bold;
}

code .css-property, code .css-value, code .vendor-prefix, code .support.namespace {
    color: #333;
}

code .constant.number, code .keyword.unit, code .hex-color {
    font-weight: normal;
    color: #099;
}

code .entity.class {
    color: #458;
}

code .entity.id, code .entity.function {
    color: #900;
}

code .attribute, code .variable {
    color: teal;
}

code .string, code .support.value  {
    font-weight: normal;
    color: #d14;
}

code .regexp {
    color: #009926;
}
