# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text

# Exclude tests
tests/* linguist-detectable=false
samples/* linguist-detectable=false

# Declare files that will always have CRLF line endings on checkout.
*.scm linguist-language=Scheme
*.lisp linguist-language=Scheme

*.scm.ok text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# Wavefront text 3d models
*.obj text eol=lf
*.mtl text eol=lf
