<!doctype html>
<html>
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="chrome=1">
   <title>{{ page.title }}</title>

   <!-- Google Analytics -->
   <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-107561028-1', 'auto');
   ga('send', 'pageview');
   </script>
   <!-- End Google Analytics -->

   <link rel="stylesheet" href="stylesheets/styles.css">
   <link rel="stylesheet" href="stylesheets/github-light.css">

   <script src="javascripts/jquery-2.1.1.min.js"></script>
   <link  href="stylesheets/jquery.terminal.css" rel="stylesheet"/>
   <script src="javascripts/jquery.terminal-0.8.8.min.js"></script>
   <script src="javascripts/jquery.mousewheel.min.js"></script>
   <script src="javascripts/jquery.history-1.8.2.min.js"></script>

   <script src="javascripts/rainbow-1.1.9.min.js"></script>
   <script src="javascripts/language/ol.js"></script>
   <link  href="stylesheets/language/themes/github.css" rel="stylesheet">

   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <!--[if lt IE 9]>
   <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

   <style media="screen" type="text/css">
.overlay {
   position: fixed;
   top: 0; left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   visibility: hidden;
   opacity: 0;
}
.overlay:target {
   visibility: visible;
   opacity: 1;
}

header .popup {
   margin: 70px auto;
   padding: 20px;
   background: #fff;
   border-radius: 5px;
   width: 60%;
   height: 60%;
   position: relative;

   overflow:auto;
}

/* close button*/
.popup .close {
   position: absolute;
   top: 20px;
   right: 30px;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #333;
}
.popup .close:hover {
   color: orange;
}
.popup .content {
   max-height: 30%;
   overflow: auto;
}

   </style>
 </head>
 <body>
   <div class="wrapper">
      <header>
         <h1><a href="/ol/">Ol</a> /Otus Lisp/</h1>
         <h3>Otus Lisp is a purely* functional dialect of small, embeddable and crossplatform Lisp.</h3>
         <div style="overflow: auto">
            <span style="float: left">
               <div>
                  <a href="https://travis-ci.org/yuriy-chumak/ol" target="_blank">
                  <img src="https://travis-ci.org/yuriy-chumak/ol.svg" alt="Travis-CI project page"></a>
               </div>
               <div>
                  <a href="https://github.com/yuriy-chumak/ol" target="_blank">
                  <img src="assets/view-github-project-page.svg" alt="View GitHub project page"></a>
               </div>
            </span>
            <span style="float: right">
               <a href="https://gitter.im/otus-lisp/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge">
               <img src="assets/chat-on-gitter.svg" alt="Live Chat"></a>
            </span>
         </div>

         <div>
            Issues tracker can be found directly at
             <a href="https://github.com/yuriy-chumak/ol/issues">the Issues page</a>.
         </div>

         <br/>
         <div>
         Remote <a href="#about-terminal" style="text-decoration: none; border-bottom: 1px dashed; cursor: help;">terminal</a> session:
         <div id="terminal" class="terminal">
            <noscript><b>Looks like you have disabled scripts for this page. Please enable it to continue working with.</b></noscript>
         </div>
<!--
         <div id="scene">
            <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
         </div>
-->

         <div id="about-terminal" class="overlay">
            <div class="popup">
               <h2>About Terminal</h2>
               <a class="close" href="javascript:history.back()">×</a>

               <p><small style="float: right">Copyright (c) 2015-2018 Yuriy Chumak</small></p>
            </div>
         </div>
<!--
         <script>
            var about = document.getElementById('about-terminal');

            window.onclick = function(event) {
               if (event.target == about) {
                  history.back();
               }
            }
         </script>
-->
         </div>
         <small style="float: right;">(c)&nbsp;</small>

      </header>
      <!-- ====================================================================================== -->
      <section id="content">
      <span>
         {{ content }}
      </span>
      </section>
      <!-- ====================================================================================== -->
      <footer style="text-align:right">
      </footer>
   </div>

   <script src="javascripts/scale.fix.js"></script>
   <script src="javascripts/my.terminal.js"></script>
   <script src="javascripts/my.ajaxify.js"></script>
 </body>
</html>
