<!doctype html>
<html>
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="chrome=1">
   <title>{{ page.title }}</title>

   <link rel="stylesheet" href="stylesheets/styles.css">
   <link rel="stylesheet" href="stylesheets/github-light.css">

   <script src="javascripts/jquery-2.1.1.min.js"></script>
   <link  href="stylesheets/jquery.terminal.css" rel="stylesheet"/>
   <script src="javascripts/jquery.terminal-0.8.8.min.js"></script>
   <script src="javascripts/jquery-tools-flashembed.js"></script>
   <script src="javascripts/jquery.mousewheel.min.js"></script>
   <script src="javascripts/jquery.history-1.8.2.min.js"></script>
   <script src="javascripts/jsocket-1.0.0.min.js"></script>

   <script src="javascripts/rainbow-1.1.9.min.js"></script>
   <script src="javascripts/language/scheme.js"></script>
   <link  href="stylesheets/language/themes/github.css" rel="stylesheet">

   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <!--[if lt IE 9]>
   <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

   <style media="screen" type="text/css">
.overlay {
   position: fixed;
   top: 0; left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   visibility: hidden;
   opacity: 0;
}
.overlay:target {
   visibility: visible;
   opacity: 1;
}

header .popup {
   margin: 70px auto;
   padding: 20px;
   background: #fff;
   border-radius: 5px;
   width: 60%;
   height: 60%;
   position: relative;

   overflow:auto;
}

/* close button*/
.popup .close {
   position: absolute;
   top: 20px;
   right: 30px;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #333;
}
.popup .close:hover {
   color: orange;
}
.popup .content {
   max-height: 30%;
   overflow: auto;
}

   </style>
 </head>
 <body>
   <div class="wrapper">
      <header>
         <h1><a href="/ol/">Ol</a> /Otus Lisp/</h1>
         <h3>Otus Lisp is a purely* functional dialect of small, embeddable and crossplatform Lisp.</h3>
         <p class="view">
            <span>
               <a href="https://github.com/yuriy-chumak/ol" target="_blank">
               <img src="assets/view-github-project-page.svg" alt="View GitHub project page"></a>
            </span>
            <span style="float: right;">
               <a href="https://gitter.im/otus-lisp/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge">
               <img src="assets/chat-on-gitter.svg" alt="Live Chat"></a>
            </span>

         <p class="view">
            Issues tracker can be found directly at
             <a href="https://github.com/yuriy-chumak/ol/issues">the Issues page</a>.

         <p class="view">
         Remote <a href="#about-terminal" style="text-decoration: none; border-bottom: 1px dashed; cursor: help;">terminal</a> session:
         <div id="terminal" class="terminal">
            <noscript><b>Looks like you have disabled scripts for this page. Please enable it to continue working with.</b></noscript>
         </div>
         <div id="about-terminal" class="overlay">
            <div class="popup">
               <h2>About Terminal</h2>
               <a class="close" href="#">×</a>
               <p>
                  Это терминал к вашей уникальной, созданной только для вас сессии Otus Lisp на удаленном сервере, запущенный с целью упростить Вам знакомство с проектом.
                  Не эмулятор, симулятор или скриптовая реализация, а самый настоящый Ol; такой, словно вы лично его собрали и запустили.</p>
               <p>
                  Для работы терминал требует наличия adobe flash. Со временем это ограничение будет снято и заменено на html5.

               <h3>Песочница</h3>
               <p>
                  Эта терминальная сессия запущщена в песочнице (изолированной среде) на сервере <a href="http://iaaa.dlinkddns.com" target="_blank">iaaa.dlinkddns.com</a> под управлением Ubuntu 14.04.3 LTS x32, на той стороне для вас работает
                  последняя версия /usr/bin/ol, собранная из <a href="https://github.com/yuriy-chumak/ol" target="_blank">официального репозитария</a> из ветки master. Проверить версию ol можно набрав *version* либо (vm:version) в терминале.
                  Терминальные сессии, к слову, обслуживаются тоже ol.</p>

               <p>
                  Ввиду работы в песочнице, вам будут доступны не все возможности, предоставляемые Ol - песочница подразумевает набор ограничений, направленных на безопасность,
                  так как никто из пользователей не должен иметь возможность нарушить работоспособность сервера или получить доступ к приватным данным других пользователей.
                  Вам не будут доступны:

                  <ol>
                     <li>Чтение, запись, создание, удаление файлов; чтение каталогов</li>
                     <li>Работа с сетью</li>
                     <li>Функции работы со временем</li>
                     <li>Выполнение внешних программ</li>
                     <li>Использование любых внешних (не встроенных) библиотек, как входящих в поставку Ol, так и доступных через интерфейс PInvoke.</li>
                     <li>Подключение любых модулей, кроме перечисленных в выводе команды ",libraries" (впрочем, их вполне достаточно для комфортной работы)</li>
                  </ol>

                  Все эти функции при обращении к ним будут возвращать #false.
                  Потоки вывода stdout и stderr подсоединены к терминалу и на работу с ними никаких ограничений не накладывается, вы можете спокойно вводить и выводить в терминал все, что вам захочется.</p>

               <p>
                  В случае попытки тем или иным образом выйти за границы разрешенного, терминальная сессия будет убита без предупреждения.
                  Перезагрузите страницу для создания новой сессии.</p>

               <p>
                  Желаю удачи в успешном знакомстве с проектом!</p>

               <p><small style="float: right">Copyright (c) 2015-2017 Yuriy Chumak</small></p>
            </div>
         </div>
         <small style="float: right;">must be available <a href="http://get.adobe.com/flashplayer/">abobe flash plugin</a> for now.&nbsp;</small>

      </header>
      <!-- ====================================================================================== -->
      <section id="content">
      <span>
         {{ content }}
      </span>
      </section>
      <!-- ====================================================================================== -->
      <footer style="text-align:right">
      </footer>
   </div>

   <script src="javascripts/scale.fix.js"></script>
   <script src="javascripts/my.terminal.js"></script>
   <script src="javascripts/my.ajaxify.js"></script>
 </body>
</html>
