name: linux ppc 32/64
# notes:
#  don't forget for apt update before installing anything
#  remove man-db autoupdate, it's too time consuming

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  TERM: xterm-256color

# save resources, stop outdated workflows
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  make:
    strategy:
      matrix:
        os: [ ubuntu-22.04 ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Update submodules
      run: 'git submodule update --init --recursive'

    - name: Apt update
      run: 'sudo rm -f /var/lib/man-db/auto-update; sudo apt update'

    - name: Make ol/vm.h
      run: 'make includes/ol/vm.h'

    - name: Install ppc64 toolchain
      run: 'sudo apt install gcc-powerpc-linux-gnu gcc-powerpc64-linux-gnu -y'

    - name: Install qemu ppc (32- and 64-bit both)
      run: 'sudo apt install qemu-system-ppc qemu-user'

    - name: x32 Build
      run: 'make tmp/olvm-ppc-release'

    - name: x32 Build Info
      run: 'file tmp/olvm-ppc-release; qemu-ppc -L /usr/powerpc-linux-gnu tmp/olvm-ppc-release repl --version; echo "(print (syscall 63))" |qemu-ppc -L /usr/powerpc-linux-gnu tmp/olvm-ppc-release repl'

    - name: x64 Build
      run: 'make tmp/olvm-ppc64-release'

    - name: x64 Build Info
      run: 'file tmp/olvm-ppc64-release; qemu-ppc64 -L /usr/powerpc64-linux-gnu tmp/olvm-ppc64-release repl --version; echo "(print (syscall 63))" |qemu-ppc64 -L /usr/powerpc64-linux-gnu tmp/olvm-ppc64-release repl'

    - name: Check Reference
      run: DEV_MODE=1 HAVE_PLATFORM=0 HAVE_PPC=1 HAVE_PPC64=1 make check-reference
