name: win(e) 32/64

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  TERM: xterm-256color

# save resources, stop outdated workflows
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  make:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Update submodules
      run: 'git submodule update --init --recursive'

    - name: Apt update
      run: 'sudo rm -f /var/lib/man-db/auto-update; sudo apt update'

    - name: Install MinGW toolchain
      run: 'sudo apt install gcc-mingw-w64-i686 gcc-mingw-w64-x86-64 -y'

    - name: x32 Build
      run: 'make ol32.exe'

    - name: x64 Build
      run: 'make ol64.exe'

    - name: Install 32-bit subsystem
      run: 'sudo dpkg --add-architecture i386; sudo apt update'

    - name: Install wine (32- and 64-bit both)
      run: 'sudo apt install wine32 wine64'

    - name: Start Virtual Framebuffer for Wine
      run: 'sudo apt install xvfb; Xvfb :0 -screen 0 1024x768x16 &'

    - name: Create wine prefix
      run: 'wine cmd /c echo Wine environment created for %PROCESSOR_IDENTIFIER%'

    - name: x32 Build Info
      run: 'file ol32.exe; DISPLAY=:0.0 wine ol32.exe --version; echo "(print (syscall 63))" |DISPLAY=:0.0 wine ol32.exe'

    - name: x64 Build Info
      run: 'file ol64.exe; DISPLAY=:0.0 wine ol64.exe --version; echo "(print (syscall 63))" |DISPLAY=:0.0 wine ol64.exe'
