name: linux sparc64
# notes:
#  don't forget for apt update before installing anything
#  remove man-db autoupdate, it's too time consuming

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  TERM: xterm-256color

# save resources, stop outdated workflows
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  make:
    strategy:
      matrix:
        os: [ ubuntu-24.04 ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Update submodules
      run: 'git submodule update --init --recursive'

    - name: Apt update
      run: 'sudo rm -f /var/lib/man-db/auto-update; sudo apt update'

    - name: Make ol/vm.h
      run: 'make includes/ol/vm.h'

    - name: Install ppc64le toolchain
      run: 'sudo apt install gcc-sparc64-linux-gnu -y'

    - name: Install qemu
      run: 'sudo apt install qemu-system-sparc64 qemu-user'

    - name: Build
      run: 'make tmp/olvm-sparc64-release'

    - name: Build Info
      run: 'file tmp/olvm-sparc64-release; qemu-sparc64 -L /usr/sparc64-linux-gnu tmp/olvm-sparc64-release repl --version; echo "(print (syscall 63))" |qemu-sparc64 -L /usr/sparc64-linux-gnu tmp/olvm-sparc64-release repl'

    - name: Check Reference
      run: DEV_MODE=1 HAVE_PLATFORM=0 HAVE_SPARC64=1 make check-reference
