name: macos intel/m

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  TERM: xterm-256color

# save resources, stop outdated workflows
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  make:
    strategy:
      matrix:
        os: [ macos-13, macos-latest ] # intel, m1
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Update submodules
      run: 'git submodule update --init --recursive'

    - name: Build
      run: 'make'

    - name: Build Info
      run: 'file ol; make describe'

    - name: Check Reference
      run: make check-reference-native
