name: linux x86/x64

on:
  push:
    branches:
      - master
  workflow_dispatch:

# save resources, stop outdated workflows
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  make:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Update submodules
      run: 'git submodule update --init --recursive'

    - name: x64 Build
      run: 'make release'

    - name: x64 Build Info
      run: file ol; make describe

    - name: Apt update
      run: 'sudo rm -f /var/lib/man-db/auto-update; sudo apt update'

    - name: Install gcc-multilib (add 32-bit support)
      run: 'sudo apt install gcc-multilib -y'

    - name: Clean
      run: 'make clean'

    - name: x32 Build
      run: 'CFLAGS=-m32 make'

    - name: x32 Build Info
      run: file ol; make describe

    - name: Check Reference
      run: DEV_MODE=1 HAVE_PLATFORM=0 HAVE_X86=1 HAVE_X86_64=1 make check-reference
